@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Urbanist", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body {
  color: #fff;
}
body .header {
  position: relative;
  display: block;
  height: 80px;
  background-color: #000;
  z-index: 10;
}
body .header::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
body .header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
body .header .container .squra-box {
  position: relative;
  color: #fff;
  font-size: 1.875rem;
  font-weight: bold;
}
body .header .container .squra-box::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
}
body .header .container #gnb ul {
  display: flex;
  gap: 50px;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 700;
}
body .header .container .contact-btn {
  position: relative;
}
body .header .container .contact-btn .relative {
  color: rgb(255, 86, 157);
  font-size: 0.75rem;
  font-weight: 700;
}
body .header .container .contact-btn .relative::after {
  content: "";
  display: block;
  width: 90px;
  height: 30px;
  border: 1px solid rgb(255, 86, 157);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .c-hero {
  display: block;
  background-color: #000;
  width: 100%;
  height: 856px;
}
body .c-hero .o-container {
  position: relative;
  width: 100%;
  height: 856px;
}
body .c-hero .o-container .c-hero__header {
  width: 100%;
  height: 856px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .c-hero .o-container .c-hero__header .c-hero__title {
  font-size: 5.625rem;
  font-weight: 500;
  margin: 0 60px;
}
body .c-hero .o-container .c-hero__letter-b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}
body .c-hero .o-container .c-hero__letter-b img {
  width: auto;
  height: 423px;
}
body .c-hero .o-container .c-hero__letter-k {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
body .c-hero .o-container .c-hero__letter-k img {
  width: auto;
  height: 423px;
}
body .c-hero .o-container .c-hero__subtitle {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.875rem;
  font-weight: bold;
}
body .c-hero .o-container .c-icon-scroll img {
  display: block;
  width: 165px;
  height: auto;
  position: absolute;
  bottom: 75px;
  right: 60px;
}
body .main-01 {
  display: block;
  background-color: #000;
  width: 100%;
  height: 856px;
}
body .main-01 #mission {
  position: relative;
}
body .main-01 #mission .c-mission__title {
  position: absolute;
  top: 178px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-01 #mission .c-mission__title h2 {
  font-size: 1.125rem;
  font-weight: bold;
  color: rgb(255, 86, 157);
}
body .main-01 #mission .c-mission__title h2 .c-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-01 #mission .c-mission__title h2 .c-section-title .block {
  position: relative;
  padding: 13px 0;
}
body .main-01 #mission .c-mission__title h2 .c-section-title .block::before, body .main-01 #mission .c-mission__title h2 .c-section-title .block::after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1rem;
  transform: scaleX(var(--lines-scale));
  transform-origin: center center;
}
body .main-01 #mission .c-mission__title h2 .c-section-title .block::before {
  left: 0;
}
body .main-01 #mission .c-mission__title h2 .c-section-title .block::after {
  right: 0;
}
body .main-01 #mission .marquee_wrap {
  padding-top: 270px;
}
body .main-01 #mission .marquee_wrap .marquee_inner {
  overflow: hidden;
  display: flex;
}
body .main-01 #mission .marquee_wrap .marquee_inner .box {
  animation: marquee infinite linear;
  white-space: nowrap;
  letter-spacing: -1px;
  font-size: 70px;
  padding-left: 24px;
  color: transparent;
  -webkit-text-stroke: 0.5px rgb(181, 181, 181);
  font-weight: bold;
  font-style: italic;
}
body .main-01 #mission .marquee_wrap .marquee_inner .box .sub {
  color: #fff;
  font-weight: bold;
  font-style: normal;
}
body .main-01 #mission .marquee_wrap .marquee_inner .top {
  animation-duration: 80s;
  animation-direction: normal;
}
body .main-01 #mission .marquee_wrap .marquee_inner .second {
  animation-duration: 100s;
  animation-direction: reverse;
}
body .main-01 #mission .marquee_wrap .marquee_inner .third {
  animation-duration: 120s;
  animation-direction: normal;
}
body .main-01 #mission .marquee_wrap .marquee_inner .bottom {
  animation-duration: 140s;
  animation-direction: reverse;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=styles.css.map */